/* Estilos para o corpo */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Estilos para a tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.delete-button {
    background-color: red;
    text-decoration: none;
    color: #ffffff;
    border-radius: 15%;
}

th {
    background-color: #f4f4f4;
}

/* Estilos para os inputs e botões */
input[type="date"],
input[type="submit"],
.delete-button {
    padding: 8px;
    margin-top: 10px;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #020202;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 4px;
    transition: background 0.3s;
    border-bottom: 15%;
}


.button:hover {
    background-color: #eedf14;
}
